 p{
    font-size: 50px;
    color: aliceblue;
 }
 
 
 .fortnite {
    background-color: rgba(0, 0, 0, 0.8);
    border-style: solid;
    border-width: 15px;
    margin: 100px;
    display: flex;
    width: 100vh;

    box-sizing: border-box;
}
      

.fortnite img{
    padding: 20px;
    width: 20%;

} 

.descricao{
    margin: 20px;
}




.GodOfWar{
    background-color: rgba(000,000,000,0.8);
    border-style: solid;
    border-width: 15px;
    margin: 100px;
    display: flex;
    width: 100vh;

    box-sizing: border-box;
} 

 .GodOfWar img{
    padding: 20px;
    width: 50%;
}

 .GTA{
    background-color: rgba(000,000,000,0.8);
    border-style: solid;
    border-width: 15px;
    margin: 100px;
    display: flex;
    width: 100vh;

    box-sizing: border-box;
} 

.GTA img{
    padding: 20px;
    width: 50%;

    }

.imagem-fundo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;

}

.fifa{
    background-color: rgba(000,000,000,0.8);
    border-style: solid;
    border-width: 15px;
    margin: 100px;
    display: flex;
    width: 100vh;

    box-sizing: border-box;
} 

.fifa img{
    padding: 20px;
    width: 20%;

    }

div{
    border-color: rgb(181, 47, 47);
    margin-left: 25vw;
}

h5{
    color: rgb(255, 255, 255);
    font-size: 50px;
    display: inline-block;
    
}
 .titulo h1{
    background-color: rgb(181, 47, 47);
    color: aliceblue;
    font-size: 210px;
    border-style: solid;
    border-width: 20px;
    border-color: black;
    margin: 100px;
    margin-bottom: 300px;
    display: flex;
    width: 100vh;
    justify-content: center;
    box-sizing: border-box;
}
